.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.usersButton{
  background-color: rgb(231, 44, 100);
  color: aliceblue;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.createButton{
  background-color: rgb(44, 88, 231);
  color: aliceblue;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.cardUser{
  width: 300px;
  height: 250px;
  min-width: 200px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 1px  1px 10px 0 #000a;
  border-radius: 8px;
}

.cardUser h2{
  margin: 0;
}

.cardUser ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}

.cardUser__sub{
  color: rgb(165, 168, 172);
}
.cardUser__buttons{
  text-align: end;
}

.cardUser__buttons button{
  background-color: white;
  border: none;
}

.bx{
  font-size: 1.5rem;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.bxs-trash{
  background-color: rgb(226, 71, 71);
  color: white;
}

.bxs-edit-alt{
  background-color: rgb(210, 217, 223);
  color: white;
}

.App__form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.form label, input {
  font-size: 1.2rem;
  height: 25px;
  padding: 10px;
}

.form label {
  left: 0;
}

.form input{
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 3px 0 #000a;
}

.form button{
  align-self: center;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(43, 163, 127);
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 560px){
  .form div{
    display: flex;
    flex-direction: column;
  }
}